body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
header {
    background-color: #49393D;
    padding: 0 1rem;

    .header_container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header_logo_container{
           display: flex;
           justify-content: space-between;
           align-items: center;
           width: 40%;

           .logo {
               width: 6rem;
               height: 4rem;
               margin: .5rem 0;
               

               img {
                   width: 100%;
                   height: 100%;
                   border-radius: 5%;
               }
            }
            nav {
                // margin-right: 9rem;
                .home {
                    color: #FFA308;
                }
                a{
                    font-family: 'Roboto';
                    margin-right: 2rem;
                    text-decoration: none;
                    color: white;
                    font-size: 1.2rem;
                    text-transform: uppercase;
                }
            }
        }
        .header_partner_container {
            padding-right: 2rem;

            .partner_div {
                font-size: 1.3rem;
                color: #FFA308;
                border: 2px solid black;
                padding: .3rem .8rem;
            }
        }
    }
}

.hero_box {
    background : url(header.jpg) right top no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100%;
    // position: relative;
    // top : -60px;
    // margin-bottom: -60px;
    // padding: 150px 0 50px 0;
    border-bottom: none;

    .hero_item1 {
        text-align: center;
        h1 {
            font-size: 6rem;
            margin: 0;
            color: white;
        }
        h3 {
            font-size: 2.5rem;
            margin: 0;
            color: white;

            .colored_text {
                color: #FFA308;
            }
        }
    }
    .hero_item2 {
        background: rgba(66, 51, 56, 0.6);
        padding: .8rem;
        border-radius: 5px;
        width: 80%;
        height: 2.3rem;
        margin: 4rem 6rem;

        input {
            width: 25%;
            padding: .5rem .9rem;
            font-size: 1rem;
            border-radius: 3px;
            border: 2px solid white;
        }
        button {
            width: 24%;
            padding: .5rem .9rem;
            background-color: #FFA308;
            font-weight: 900;
            border: 2px solid #FFA308;
            color: white;
            font-size: 1rem;
            border-radius: 3px;
        }
    }
}
.container {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    color: #423338;

    .main_container {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .main_item1 {
            h2 {
              font-size: 2.6rem;
              margin: 0;
              font-weight: 700;
              color: #423338;
              margin-bottom: 1rem;
            }
            p {
             font-size: 1.4rem;
             color: #423338;
             margin: 0;
            }
        }
        .main_item2 {
            display: flex;
            margin-top: 5rem;
            justify-content: space-between;

            .main_item2_box1{
                margin: 0 2rem;
                width: 30%;
            }

            .location {
                border: 3px dashed #D1D1D1;
                border-radius: 10px;
                font-size: 8rem;
                padding: 2rem;
            }
            h4{
                font-size: 1.6rem;
                margin-bottom: 0;
            }
            p{
                font-size: 1.3rem;
            }

        }
        .main_item3 {
            margin-top: 2rem;
            
            button {
                font-size: 1.5rem;
                color: white;
                background-color: #FFA308;
                font-weight: 500;
                border: none;
                border-radius: 7px;
                padding: .7rem 1.5rem;
            }
        }
    }
}

.promotion {
    width: 80%;
    margin : 0 auto;
    .promotion_item {
        width: 100%;
    margin-top: 4rem;
    }
}

.motivation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F8F8F8;
    margin-top: 2rem;

    .motiv_container {
      width: 70%;
      margin: 0 auto;
    }

    .motivation_item1 {
        text-align: center;
        margin-top: 3rem;
      h2{
          font-size: 2.6rem;
          color: #423338;
          margin: 0;
      }
      p{
        font-size: 1.4rem;
        color: #423338;
      }
    }
    .motivation_item2 {
        display: flex;
        justify-content: center;
        align-items: center;
        
        .motiv_img {
            margin: 1rem 1rem;
        }
        .img1 {
            cursor: pointer;
            transition: 0.3s;
        }
        .img1:hover {opacity: 0.7;}
    }
    .motivation_item3 {
        display: flex;
        justify-content: center;
        align-items: center;

        .motiv_img {
            margin: 1rem 1rem;
        }
        .img1 {
            cursor: pointer;
            transition: 0.3s;
        }
        .img1:hover {opacity: 0.7;}
    }
}
.contact_us {
    width: 70%;
    margin: 2rem auto;

    .contact_div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .form_heading {
            margin-top: 3rem;
            margin-bottom: 1rem;
            text-align: center;
            
            h2{
                font-size: 2.6rem;
                color: #423338;
                margin: 0;
            }
        }
        .form {
            background-color: #423338;
            width: 60%;
            // text-align: center;
            padding: 0 2rem;
            line-height: 1.8;
            color: white;
            font-size: 1.4rem;

            .form_h {
                color: white;
                font-size: 1.4rem;
                border-bottom: 2px solid black;
                margin: 0;
            }
            .form_b {
               margin-top: 2rem;
            }
            .pick {
                input{
                    padding: .5rem 1rem;
                    border-radius: 10px;
                    width: 20rem;
                }
            }
            .btn1{
               margin-top: 2rem;
               margin-left: 3rem;
               margin-bottom: 2rem;
                button {
                    padding: .7rem 1.5rem;
                    font-size: 1.5rem;
                    background-color: #FFA308;
                    border: none;
                    color: white;
                    border-radius: 10px;
                } 
            }
        }
    }
}
.radio {
    display: inline-block;
    padding: 1rem 1.5rem;
}
.subscribe {
    background-color: #D1D1D1;
    padding: 2rem 0;
    .sub_box {
        width: 70%;
        margin: 2rem auto;
        h2 {
            margin-top: 4rem;
            font-size: 2.6rem;
            color: #423338;margin-bottom: 0;
        }
        p{
            font-size: 1.4rem;
            color: #423338;
        }
        input {
            width: 50%;
            height: 2.5rem;
            padding: .5rem 1rem;
            font-size: 1.3rem;
            margin-right: 1.5rem;
        }
        button {
            width: 25%;
            height: 3.5rem;
            background-color: #FFA308;
            font-size: 1.3rem;
            padding: .5rem 1rem;
            border: none;
            color: #F8F8F8;
            font-weight: 700;
        }
    }
}
footer {
    background-color: #423338;
    padding: 2rem 4rem;
    color: white;
    .foot {
        display: flex;
        justify-content: space-between;
        h4 {
            font-size: 1.6rem;
        }
        ul {
            list-style-type: none;
            li {
                font-size: 1.3rem;
                list-style-position: inside;
            }
        }
    }
}

// @media only screen and (max-width: 600px) {
//     html {
//         font-size: 12px;
//     }
//     .header_container {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         flex-direction: column;
//     }
//     .header_logo_container {
//         display: flex;
//         justify-content: space-between;
//         flex-direction: column;
//         align-items: center;
//         width: 30%;
// }
// }

// @media only screen and (max-width: 600px) {
//     html {
//         font-size: 12px;
//     }
//    .motivation_item2 {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//    }
//    .motivation_item3 {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//    }
// }

// @media only screen and (max-width: 600px) {
//     html {
//         font-size: 12px;
//     }
//     .foot {
//         display: flex;
//         justify-content: space-between;
//         flex-direction: column;
//     }
// }
// @media only screen and (max-width: 900px) {
//     html {
//         font-size: 12px;
//     }
//     .header_container {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         flex-direction: column;
//     }
//     .header_logo_container {
//         display: flex;
//         justify-content: space-between;
//         flex-direction: column;
//         align-items: center;
//         width: 30%;
// }
// }

// @media only screen and (max-width: 900px) {
//     html {
//         font-size: 12px;
//     }
//    .motivation_item2 {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//    }
//    .motivation_item3 {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//    }
// }

// @media only screen and (max-width: 900px) {
//     html {
//         font-size: 12px;
//     }
//     .foot {
//         display: flex;
//         justify-content: space-between;
//         flex-direction: column;
//     }
// }
//}